.badge {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.badge--small {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.badge-r {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: tomato;
    border: 2px solid tomato;
    margin-left: 5px;
}